<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="card-body" style="background-color: #c0d1fb;">

                    <div class="row justify-content-center">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <center> <img src="/img/acercade.png" class="img-responsive"></center>
                                </div>
                                <div class="panel-body">
                                    <p><b> Desarrollado por:</b> <span>MXXXXX-FXXXXXXX-GXXXXXXXX</span></p>
                                    <br>
                                    <p><span>La aplicación web fue desarollada para registrar tareas y actividades de
                                            diferentes
                                            usuarios, un usuario puede crear su cuenta, el usuario puede ingresar su
                                            actividad, ver y gestionar con
                                            forme se le presentan opciones , ver por dia, semana o mes, se implementan
                                            los diferentes
                                            algoritmos de ordenamiento utilizando diferentes tecnologias entre ellas;
                                            Node js con express, Mongodb, Mongo Atlas, Ejs,
                                            ajax, bootstrap 4.
                                        </span> </p>
                                    <p> Intibúca Honduras C.A <br>
                                        <b> Año 2024 </b>
                                    </p>
                                    <p>version 1.0 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- include header -->
    <%- include('include/_footer') %>
        <!-- /include header -->