<!-- include header -->
<%- include('include/_header') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.bootstrap4.css">

    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <%- include('include/messages') %>
                <div class="box-nav d-flex justify-between pt-1">
                    <a href="/add-user" class="border-shadow btn-success">
                        <span class="text-light">
                            <span class="text-light">Agregar Usuario <i class='fas fa-user-plus'></i></span>
                    </a>
                </div>
                <div class="card mx-auto">
                    <div class="card-body bg-primary">
                        <center>
                            <h3 class="text-light">Usuarios <i class="fa fa-users"></i>
                            </h3>
                        </center>
                    </div>
                </div>

                <!--form handling -->
                <form action="/" method="POST">
                    <table class="table" id="users">
                        <thead class="thead-dark">
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Cantidad de tareas</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('include/_showuser') %>
                        </tbody>
                    </table>
                </form>
        </div>

    </main>

    <%- include('include/_footer') %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap4.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.bootstrap4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.colVis.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>

        <script>
            $(document).ready(function () {
                //$.fn.DataTable.ext.classes.sFilterInput = "form-control form-control-lg-10";
                var table = $('#users').DataTable({
                    responsive: true,
                    rowReorder: true,
                    order: [[4, 'desc']],
                    autoWidth: false,
                    lengthChange: false,
                    layout: {
                        topStart: {
                            buttons: ['print',
                                {
                                    extend: 'pdfHtml5',
                                    title: 'Reporte Usuarios AgendaMe ',
                                    download: 'open',
                                }, 'excel', 'colvis',
                            ]
                        }
                    },

                    "language": {
                        "decimal": ".",
                        "emptyTable": "No hay datos disponibles en la tabla",
                        "zeroRecords": "No se encontraron coincidencias",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total de entradas)",
                        "lengthMenu": "Mostrar _MENU_ entradas",
                        "search": "Buscar:",
                        "infoEmpty": "No hay datos para mostrar",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": ">",
                            "previous": "<"
                        }, "buttons": {
                            "print": "Imprimir",
                            "copy": "Copiar",
                            "colvis": "Columnas",
                            "collection": "Colección",
                        }
                    }, lengthMenu: true,
                });

            });
        </script>
        <!-- include header -->

        <!-- /include header -->