<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- ========== partes ========== -->
    <h1>registrar</h1>
    <!-- ========== pasrtes ========== -->



    <!-- include header -->
    <%- include('include/_footer') %>
        <!-- /include header -->